{% extends "core/base.html" %}

{% block title %}About Us{% endblock %}
{% block body_class %}about-page{% endblock %}

{% block content %}
<section class="hero p-4 p-md-5 rounded-4">
    <div class="row align-items-center g-4 justify-content-center">
        <div class="col-lg-9">
            <h1 class="display-6 fw-bold">{{ about.title }}</h1>
            <p class="lead">{{ about.content|safe }}</p>
        </div>
        <!-- add a 'Book Now' button that is below the content and links to the court booking page -->
        <div class="col-12 text-center mt-4">
            <a href="{% url 'book_court' %}" class="btn btn-primary btn-lg">Book Now</a>
        </div>
    </div>
</section>
{% endblock %}